<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../styles/niveles/nivel6.1.css">
    <link href="https://fonts.googleapis.com/css2?family=Pajji&display=swap" rel="stylesheet">
</head>
<body>
         <div class="container">
            <div class="flecha"><a href="../niveles/nivel6.html">
                <img src="../../imgs/niveles/flecha.izquierda.PNG" alt="flrcha inicio">
            </a> 
            </div>
            <div class="estrella1"><img src="../../imgs/niveles/estrella1.PNG" alt="estrella1"></div>
            <div class="estrella2"><img src="../../imgs/niveles/estrella2.PNG" alt="estrella2"></div>
            <div class="estrella3"><img src="../../imgs/niveles/estrella1.PNG" alt="estrella3"></div>
        
            <div class="estrella4"><img src="../../imgs/niveles/estrella1.PNG" alt="estrella1"></div>
            <div class="estrella5"><img src="../../imgs/niveles/estrella2.PNG" alt="estrella2"></div>
            <div class="estrella6"><img src="../../imgs/niveles/estrella1.PNG" alt="estrella3"></div>
        
            <div class="estrella7"><img src="../../imgs/niveles/estrella1.PNG" alt="estrella1"></div>
            <div class="estrella8"><img src="../../imgs/niveles/estrella2.PNG" alt="estrella2"></div>
            <div class="estrella9"><img src="../../imgs/niveles/estrella1.PNG" alt="estrella3"> </div>
       
        <div class="wooper1">
             <img src="../../imgs/niveles/wooper6.png" alt="wooper de astronomia">
        </div>
        <div class="level1">
            <h1>1</h1>
        </div>
        <div class="level2">
            <img src="../../imgs/niveles/candado.png" alt="candado2">
        </div>
        <div class="level3">
            <img src="../../imgs/niveles/candado.png" alt="candado3">
        </div>
    </div>
    
</body>
</html>