<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../styles/styles_Foto_Perfil/style_EIMG_Vista_3.css">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>

    <a href="../Foto_Perfil/EIMG_Vista_1.html"> 
        <img src="../../imgs/Foto_Perfil_imgs/flecha-img.png">
            </a>
                <div class="container_imagen">

                    <div class="titulo"><h2> ESCOGER <br> IMAGEN </h2> </div>

                    <div class="escoger-imagen">
                        <div class="img"> <a href="../Foto_Perfil/EIMG_Vista_3.html"> <img src="../../imgs/Foto_Perfil_imgs/1-img.png">   </a></div>
                            <div class="img"> <a href="../Foto_Perfil/EIMG_Vista_2.html"> <img src="../../imgs/Foto_Perfil_imgs/2-img.png">   </a></div>
                                <div class="img"> <a href="../Foto_Perfil/EIMG_Vista_5.html"> <img src="../../imgs/Foto_Perfil_imgs/3-img.png">   </a></div>
                                    <div class="img"> <a href="../Foto_Perfil/EIMG_Vista_4.html"> <img src="../../imgs/Foto_Perfil_imgs/6-img.png">   </a></div>

                                        <div class="img"> <img src="../../imgs/Foto_Perfil_imgs/7-img.png">   </div>
                                            <div class="img"> <img src="../../imgs/Foto_Perfil_imgs/4-img.png">   </div>
                                                <div class="img"> <img src="../../imgs/Foto_Perfil_imgs/5-img.png">   </div>
                                                    <div class="img"> <img src="../../imgs/Foto_Perfil_imgs/8-img.png">   </div>
                                                        <div class="img"> <img src="../../imgs/Foto_Perfil_imgs/9-img.png">   </div>
                                                            </div>
                                                            <div class="flechas">
                                                               <div class="direccion_izquierda"> <a href=""> <img src="../../imgs/Foto_Perfil_imgs/flecha-izquierda.png"></a> </div> 
                                                                <div class="direccion_derecha"> <a href=""> <img src="../../imgs/Foto_Perfil_imgs/flecha-derecha.png"></a>  </div>
                                                                    </div>
                                                                        </div>
                                                                    
                                                                <div class="container_bio">
                                                                    <img class="foto_perfil" src="../../imgs/Foto_Perfil_imgs/1-img.png">
                                                                        <img class="fondo_foto_perfil" src="../../imgs/Foto_Perfil_imgs/img-fondo-de-perfil-2.png">  
                                                                            <h2 class="nombre_usuario">CAMILO_123 </h2>
                                                                                <h1 class="nombre">CAMILO </h1>

                                                                                    <h1 class="bio_titulo">Bio </h1>
 
                                                                                        <h2 class="campo-1">Genero </h2>
                                                                                            <h1 class="r_campo-1">Masculino </h1>

                                                                                                <h2 class="campo-2">Tiempo <br> Uso</h2>
                                                                                                    <h2 class="campo2-2"> De</h2>
                                                                                                        <h1 class="r_campo_2"> 2-hrs</h1>

                                                                                                            <h2 class="campo-3">Amigos</h2>
                                                                                                                <h1 class="r_campo-3">Nick</h1>

                                                                                                                    <h2 class="campo-4"> Nivel <br>Actual</h2>
                                                                                                                        <h1 class="r_campo-4">Nivel-4</h1>

                                                                                                                            <h2 class="campo-5_1">Puntuacion </h2>
                                                                                                                                <h2 class="campo-5_2">Actual </h2>
                                                                                                                                    <h1 class="r_campo-5"> Tres-</h1>
                                                                                                                                    <h1 class="r_campo-5_1"> Estrellas</h1>
                                                                                                                            
                                                                </div>
                                                                <a href="../../home/home.html">
                                                                <div class="container-finalizar_cambio">
                                                                    <h1 class="finalizar-cambio"> <a href="../Foto_Perfil/EIMG_Vista_1.html"> Finalizar Cambio</a></h1>
                                                                </div>
                                                                </a>


                                                            
</body>
</html>