<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../styles/styles_Temas/style-lenguaje_lectura.css">
</head>
<body>
    
    <div id="header">
        <h1>Crea un Nuevo Perfil</h1>
    </div>

    <div class="botones">
        <button class="general-btn"> <a href="../General/General_vista-1.html">General</a></button>
            <button class= "temas-btn"><a href="../Temas/Tema-Acertijos.html">Temas</a></button>
                <button class="elegir-temas-btn"><a href="../Elige_Temas/Elige_Tema_Vista-1.html">Elige los temas</a></button>
        </div> 
       
        <ul class="temas-lista">
            <li class="Matemáticas">
                <a href="Tema-Matematicas.html">
                <h1>&#x1F522; Matemáticas </h1>
                </li></a>
                    <li class="Lenguaje_Lectura">
                        <h1>&#x1F4D6; Lenguaje y Lectura </h1>
                        </li>
                            <li class="Ciencias_Naturales">
                                <a href="Tema-Ciencias_naturales.html">
                                <h1>&#x1F331; Ciencias naturales </h1>
                                    </li></a>
                                        <li class="Arte_Creatividad">
                                            <a href="Tema-Arte_Creatividad.html">
                                            <h1>&#x1F3A8; Arte y Creatividad </h1>
                                                </li></a>
                                                <li class="Historia_Cultura">
                                                    <a href="Tema-Historia_Cultura.html">
                                                    <h1>&#x1F4DA; Historia y Cultura </h1>
                                                        </li></a>
                                                        <li class="Astronomía">
                                                            <a href="Tema-Astronomia.html">
                                                            <h1>&#x1F52C; Astronomía</h1> 
                                                                </li></a>
                                                                <li class="Geografía">
                                                                    <a href="Tema-Geografia.html">
                                                                    <h1> &#x1F5FA; Geografía </h1>
                                                                        </li></a>
                                                                        <li class="Programación">
                                                                            <a href="Tema-Programacion.html">
                                                                            <h1>&#x1F4BB; Programación </h1>
                                                                                </li></a>
                                                                                <li class="Acertijos">
                                                                                    <a href="Tema-Acertijos.html">
                                                                                    <h1>&#x1F3B2; Acertijos </h1>
                                                                                        </li></a>
                                                                                        <li class="Tecnología">
                                                                                            <a href="Tema-Acertijos.html">
                                                                                            <h1>&#x1F4F1; Tecnología </h1>
                                                                                                </li></a>
                                                                                                    </ul> 
                                                                                                            
        
        <div class="descripcion_lenguaje_lectura"> 
            <div class="imfo_lenguaje_lectura">
                <h2>&#x1F4D6; Lenguaje y Lectura</h2>
                    <p>Un bosque mágico donde los árboles están hechos de letras y los animales hablan en rimas. 
                        Los niños pueden aprender el alfabeto, identificar 
                        palabras simples y escuchar cuentos encantados.</p>
                        <img src="../../imgs/Temas_imgs/img-lengua_lectura.png" alt="Lenguaje_Lectura">
                            </div>
                                </div>
        
        
</body>
</html>